<template>
    <div>
        <div class="controls-container">
            <p>Push the button to get a problem to solve</p>
            <button v-on:click="getProblem()" v-if="!activeProblem">Get Problem</button>
            <button v-on:click="checkAnswer()" v-if="activeProblem">Check Answer</button>
        </div>
        <div v-if="answerStatus === 'correct'" class="fireworks">
            Yay! You got it!
            <div class="first"></div>
            <div class="last"></div>
        </div>
        <div v-if="answerStatus === 'wrong'">
            Oops! Not quite it, try again.
        </div>
        <div v-if="activeProblem" class="problem-container">
             <div>{{problem.numberOne}}</div>
             <div>{{problem.operator}}</div>
             <div>{{problem.numberTwo}}</div>
             <div>=</div>
             <input type="number" v-model="problem.userAnswer"/>
        </div>
        <div v-if="errorMessage">
            <div class="error-text">{{errorMessage}}</div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Problem',
        props: {

        },
        data() {
            return {
                problem: {},
                activeProblem: false,
                errorMessage: null,
                answerStatus : 'unanswered'
            }
        },
        methods: {
             async getProblem() {
               const prob = await this.$axios.$get('/math/get-problem');
               this.problem = prob;
               switch(this.problem.operation) {
                     case 'ADD':
                         this.problem.operator = "+";
                         break;
                     case 'SUBTRACT':
                         this.problem.operator = "-";
                         break;
                     case 'MULTIPLY':
                         this.problem.operator = "*";
                         break;
                    case 'DIVIDE':
                         this.problem.operator = "/";
                         break;
                 }
               this.activeProblem = true;
            },
            async checkAnswer() {
                this.errorMessage = null;
                this.answerStatus = 'unanswered';

                const answer = await this.$axios.$put('/math/check-answer', this.problem);

                if (answer) {  
                     if (answer.correct) {                   
                         this.answerStatus = 'correct';
                     setTimeout(() => this.reset(), 5000);
                     } else {
                         this.answerStatus = 'wrong';
                     }
                } else {
                     this.errorMessage = "Unable to check your answer at this time";
                }
            }, reset: function(){
                this.problem = {};
                this.activeProblem =false;
                this.errorMessage = null;
                this.answerStatus = 'unanswered';
            }
        }
    };
</script>
    
<style>
    .controls-container {
        padding-bottom: 20px;
    }

    .controls-container p {
        margin: 10px 0;
    }

    .controls-container button {
        background-color: #166C9F;
        color: #fff;
        padding: 5px 10px;
        border-radius: 4px;
        font-weight: 600;
    }

    .controls-container button:hover {
        color: #166C9F;
        background-color: #fff;
    }

    .problem-container {
        display:inline-flex;
        margin-top: 10px;
    }

    .problem-container div {
        margin: 10px;
    }

    input {
        line-height: 18px;
        height: 30px;
        width: 80px;
        font-size: 16px;
    }

    .error-text {
        color: #ad3128;
        font-size: 14px;
        font-weight: 400;
    } 
</style>
