@font-face {
    font-family: "Open Sans";
    src: url("/fonts/OpenSans-Regular.ttf") format("ttf");
}

html, body {
    width:100%;
    height:100%;
}

body {
    font-family: 'Open Sans', sans-serif;
}