<template>
    <div id="app" class="content">
        <header>
            <h1>Math Game</h1>
            <p>This is the example math game built with Spring Boot, Vue.js and Nuxt.js</p>
        </header>
        <main>
            <Problem />
        </main>
        <footer>
            <small>Math game example app from <a href="https://amydegregorio.com">https://amydegregorio.com</a></small>
        </footer>
    </div>
</template>

<script>
import Problem from '../components/Problem';
export default {

};
</script>
<style src="../assets/css/main.css"></style>
<style src="../assets/css/animations.css"></style>
<style>
    .content {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: center;
      justify-items: center;
    }
    header {
        background-color: #166C9F;
        color: #fff;
        padding: 20px;
    }

    main {
        flex-grow: 1;
        padding: 20px;
    }

    header, main, footer {
        flex-shrink: 0;
    }

    footer {
        padding: 20px;
        background-color: hsla(202, 86%, 35%, .5);
    }
 [v-cloak] { display: none; }
</style>
